<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wingfac.MaitreyaRim.mapper.TitleOneClassMapper">
	<resultMap type="com.wingfac.MaitreyaRim.po.TitleOneClass"
		id="titleOneClassMapper">
		<id column="toc_id" property="toc_id" jdbcType="INTEGER" />
		<result property="toc_name" column="toc_name" jdbcType="VARCHAR" />
		<result property="toc_havenohave" column="toc_havenohave" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		`toc_id`, `toc_name`, `toc_havenohave`
	</sql>

	<select id="selectOne" resultType="com.wingfac.MaitreyaRim.po.TitleOneClass">
		SELECT
		<include refid="Base_Column_List" />
		FROM TitleOneClass ORDER BY toc_id ASC
	</select>

</mapper>
